###############################################################################
## CONFIG                                                                    ##
###############################################################################
theme = "bluebox"

[editor]
auto-pairs = false
color-modes = true
default-yank-register = "+"
gutters = ["diff", "diagnostics", "spacer"]
rainbow-brackets = true

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

[editor.statusline]
left = ["mode", "file-name", "read-only-indicator", "file-modification-indicator", "position"]
right = ["spinner", "diagnostics", "selections", "register", "file-encoding", "spacer"]
mode.normal = "N"
mode.insert = "I"
mode.select = "S"

[editor.whitespace.render]
tab = "all"

[editor.word-completion]
trigger-length = 2

###############################################################################
## KEYMAP                                                                    ##
###############################################################################
[keys.insert]
S-ret = "@<ret>" # this always happens when typing curly braces

[keys.normal]
D = ["ensure_selections_forward", "extend_to_line_end", "delete_selection"]
Y = ["ensure_selections_forward", "extend_to_line_end", "yank"]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
V = ["select_mode", "extend_to_line_bounds"]
esc = ["collapse_selection", "keep_primary_selection"]
tab = "jump_forward"
S-tab= "jump_backward"
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"
"=" = ":reflow"
"X" = "extend_line_above"
"C-8" = "@*<space>/<ret>"

# Toggles
# NOTE: there's `:toggle-option` but it cannot switch a complex option like `gutters`
"_" = ":set-option gutters [\"diff\", \"diagnostics\", \"line-numbers\", \"spacer\"]"
"-" = ":set-option gutters [\"diff\", \"diagnostics\", \"spacer\"]"
"\\" = ":toggle-option soft-wrap.enable"
"C-=" = ":toggle-option auto-format"

[keys.normal.m]
"t" = "@|,wrap "

[keys.select]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
D = ["extend_to_line_bounds", "delete_selection", "normal_mode"]
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"
"=" = ":reflow"
"V" = "extend_to_line_bounds"
"X" = "extend_line_above"
"C-8" = "@*<space>/<ret>"

# Toggles
# NOTE: there's `:toggle-option` but it cannot switch a complex option like `gutters`
"_" = ":set-option gutters [\"diff\", \"diagnostics\", \"line-numbers\", \"spacer\"]"
"-" = ":set-option gutters [\"diff\", \"diagnostics\", \"spacer\"]"
"\\" = ":toggle-option soft-wrap.enable"
"C-=" = ":toggle-option auto-format"

[keys.select.m]
"t" = "@|,wrap "

