###############################################################################
## CONFIG                                                                    ##
###############################################################################
theme = "rose_pine_moon_rainbow"

[editor]
auto-pairs = false
color-modes = true
gutters = ["diff", "diagnostics", "spacer"]
rainbow-brackets = true

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

[editor.statusline]
left = ["mode", "file-name", "read-only-indicator", "file-modification-indicator", "position"]
right = ["spinner", "diagnostics", "selections", "register", "file-encoding", "version-control", "spacer"]
mode.normal = "N"
mode.insert = "I"
mode.select = "S"

[editor.whitespace.render]
tab = "all"

[editor.word-completion]
trigger-length = 2

###############################################################################
## KEYMAP                                                                    ##
###############################################################################
[keys.select]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
D = ["extend_to_line_bounds", "delete_selection", "normal_mode"]
k = ["extend_line_up", "extend_to_line_bounds"]
j = ["extend_line_down", "extend_to_line_bounds"]
y = ["yank", ":clipboard-yank-join"]
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"

[keys.normal]
D = ["ensure_selections_forward", "extend_to_line_end", "delete_selection"]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
V = ["select_mode", "extend_to_line_bounds"]
esc = ["collapse_selection", "keep_primary_selection"]
tab = "jump_forward"
S-tab= "jump_backward"
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"
y = ["yank", ":clipboard-yank-join"]

[keys.insert]
S-ret = "@<ret>" # this always happens when typing curly braces
